p
  i This is an automated messages from mwc-law.com.  Please do not reply.

p An attempt to sign in to the FTP server was rejected due to invalid credentials.  The credentials were:

p IP Address: #{@ip}

p Username: #{@un}

p Password: #{@pw}

p Thank you.