p
  i This is an automated messages from mwc-law.com.  Please do not reply.

p An attempt to retrieve a file from the FTP server failed.  The name of the file which was searched for but not found was #{@fname}.

p Thank you.