/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Raleway);
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);

 html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Open Sans', sans-serif;
}

nav.navbar{
    background: linear-gradient( rgb(0, 78, 135), rgb(0, 53, 93) );
    min-height: 130px;
}

.navbar-collapse{
  box-shadow: none;
}

.gray-bottom-border{
  border-bottom: 5px solid rgb(200, 199, 195);
}

.gray-top-border{
  border-top: 5px solid rgb(200, 199, 195);
}

.ep-padding{
  padding-left: 8%;
  padding-right: 8%;
}

p, .li-text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.li-text{
  font-weight: 400;
  color: #00355C;
}

.navbar{
  margin-bottom: 0px;
}

.soft-right{
  padding-right: 50px;
}

a{
  &:hover{
    background-color: transparent;
  }
}

h2.home-page{
  color: rgb(0, 14, 108);
  font-weight: 700;
  font-size: 29px;
  border-bottom: thin solid black;
}

.home-page-sections-top-padding{
  padding-top: 10px;
}

.selected-header-link{
  color: rgb(115, 158, 210) !important;
}

.home-play{
  font-size: 8pt;
  padding-left: 3px;
  vertical-align: middle;
  position: absolute;
  top: 6px;
  color: #00355c;
}

.learn-more-tag{
  a{
    font-family: "Open Sans Condensed";
    font-size: 12pt;
    font-weight: 600;
    color: #00355c;
    font-style: italic;
  }
}

.learn-more-text{
  vertical-align: middle;
}

.home-page-text{
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 12pt;
  // color: rgb(51, 159, 216);
  color: #00497E;
}

.home-page-section-header{
  color: #00355c;
  font-weight: 700;
  font-size: 24px;
  font-family: "Open Sans Condensed", sans-serif;
}

.navbar-nav{
  li{

    a{
      @media (max-width: 1039px){
        padding-left: 6px;
        padding-right: 6px;
      }

      color: white;

      -webkit-transition: color 250ms ease-in-out;
      -moz-transition: color 250ms ease-in-out;
      -o-transition: color 250ms ease-in-out;
      transition: color 250ms ease-in-out;

      &:hover{
        background-color:  transparent;
        color: rgb(170, 160, 255);
      }
    }
  }
}

.navbar-toggle{
  background-color: white;
  border: thin solid gray;
  .icon-bar{
    background-color: rgb(102, 102, 102);
  }
}

.black-carousel-overlay{
  background-color: rgba(0, 0, 0, 0.7);
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.black-overlay-text{
  color: white;
  font-family: "Open Sans Condensed";
  text-align: center;
  margin-top: 23px;
  font-size: 25px;
}

.paragraph-start{
  color: #00355C;
  font-weight: bold;
  font-style: italic;
}

.raleway{
  font-family: 'Raleway';
  font-weight: 700;
}

#full-wrapper{
  min-height: 100%;
  position: relative;
}

#full-header{
  // width: 100%;
}

#full-content{
   padding-bottom: 107px;
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
}

#full-footer{
  background: linear-gradient( rgb(0, 53, 93), rgb(0, 78, 135) );
  min-height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.home-page-image{
  z-index: 100;
  height: 330px;
  overflow: hidden;
}

.hero-image{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.image-holder{
  position: relative;
}

.text-backing{
  position: absolute;
  top: 280px;
  text-align: center;
  width: 100%;
}

.four-column-responsive-disappear{
  @media (max-width: 991px){
    display: none;
  }
}

.four-column-responsive-appear{
  @media (min-width: 992px){
    display: none;
  }
}

.home-play-responsive-appear{
  font-size: 8pt;
  color: #00355C;
  padding-left: 5px;
  padding-bottom: 30px;
}

.image-overlay-text{
  color: white;
  background: rgba(0, 0, 0, 0.85);
  height: 50px;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 450px){
    font-size: 12px;
  }
  @media (min-width: 588px){
    font-size: 15px;
  }
  @media (min-width: 588px){
    font-size: 20px;
  }
  @media (min-width: 768px){
    font-size: 27px;
  }
  font-weight: 100;
  padding-top: 5px;
}

.size-force{
  height: 350px;
  width: 390px;
}

.middle{
  position: absolute;
  top: 15px;
}

.bottom{
  position: absolute;
  top: 15px;
}

.clipped-image-fade{
  margin-top: -100px;
}

.no-overflow{
  overflow: hidden;
}

.image-fade img{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.image-fade img.transparent{
  opacity: 0;
}

#new-york-image, #washington-dc-image,
#new-jersey-image, #richmond-image{
  display: none;
}

.padless{
  padding: 0px 0px;
}

.small-screen-row{
  background-color: #dddddd;
  height: 380px;
  @media (min-width: 1189px){
    display: none;
  }
  .box-area{
    margin-top: 15px;
    height: 350px;
    width: 390px;
    background-color: #aaaaaa;
  }
}

.image-grid-row{
  @media (max-width: 1188px){
    display: none;
  }
  background-color: #dddddd;
  height: 380px;
  .box-area{
    margin-top: 15px;
    height: 350px;
    width: 390px;
    background-color: #aaaaaa;
    .geographical-name-backing{
      background-color: rgba(0, 0, 0, 0.8);
      width: 390px;
      height: 42px;
      position: absolute;
      bottom: 0;
      .geographical-name{
        font-size: 23px;
        font-family: 'Roboto';
        color: white;
        left: 10%;
        font-weight: 700;
        margin-top: 6px;
      }
    }
  }
}

.clipped-image-grid-row{
  height: 210px;
}

.clipped-box-area{
  height: 180px !important;
  overflow: hidden;
}

.page-title-text{
  color: #00355c;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 20pt;
}

.list-indicator-caret{
  font-size: 8pt;
  color: #00375f;
  vertical-align: super;
}

.list-item-link{
  color: #00375f;
  margin-left: 7px;
  font-family: "Open Sans Condensed";
  font-size: 23px;
}

.content-section{
  padding-right: 11%;
  padding-left: 5%;
  display: none;
}

.content-description{
  p{
    color: #00355C;
    font-weight: 400;
  }
  .in-text-callout{
    color: #00BAFD;
  }
}

.item-list-row{
  margin-right: 0px;

  .clickable{
    cursor: pointer;
    padding-left: 8px;
    margin-left: -8px;

    -webkit-transition: background-color 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;

    &:hover{
      background-color: rgb( 230, 229, 225 );
    }
  }
}

.most-recently-clicked{
  background-color: rgb( 200, 199, 195 );
  font-style: italic;
}

.callout-quote{
  min-height: 65px;
  background-color: #00355C;
}

.callout-text{
  color: #FFFFFF;
  font-family: "Open Sans Condensed";
  font-size: 26px;
  padding-top: 10px;
  font-style: italic;
}

#right-side{
  padding-bottom: 60px;
}

#left-side{
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.single-left-list-link{
  padding-bottom: 7px !important;
}

.location-group{
  color: #00375f;
  font-family: "Open Sans Condensed";
  font-size: 23px;
  display: inline-block;
  margin-left: 5px;
}

.affiliate-left-web-address{
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #00355C;
  font-weight: 400;
  margin-left: 18px;
}

.location-of-group{
  margin-left: 15px !important;
}

.affiliate-address{
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #00355C;
  font-weight: 400;
}

.employment-application-form{
  padding-left: 12%;
  padding-right: 12%;
}

.fannie-mae-text{
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.left-side-list-column{
  // border-right: 5px solid rgb(200, 199, 195);
}

.gray-border-right-side{
  border-right: 5px solid rgb(200, 199, 195);
}

.gray-border-left-side{
  border-left: 5px solid rgb(200, 199, 195);
}

.single-item-title{
  color: #00355C;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.attorney-row{
  .attorneys{
    color: black;
    border-bottom: thin solid black;  
  }
  .single-attorney-link{
    color: rgb(0, 97, 192);
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;


    .clickable{
      cursor: pointer;

      -webkit-transition: font-size 0.4s ease;
      -moz-transition: font-size 0.4s ease;
      -o-transition: font-size 0.4s ease;
      transition: font-size 0.4s ease;

      &:hover{
        font-size: 17px;

        -webkit-transition: font-size 0.4s ease;
        -moz-transition: font-size 0.4s ease;
        -o-transition: font-size 0.4s ease;
        transition: font-size 0.4s ease;
      }
    }
  }

  #terrence-mccabe, #marc-weisberg,
  #margaret-gairo,
  #laura-osullivan, #carol-cobb,
  #janet-charlton, #edward-conway{
    display: none;
  }
}

.office-row{
  .offices{
    color: black;
    border-bottom: thin solid black;  
  }
  .single-office-link{
    color: rgb(0, 97, 192);
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;


    .clickable{
      cursor: pointer;

      -webkit-transition: font-size 0.4s ease;
      -moz-transition: font-size 0.4s ease;
      -o-transition: font-size 0.4s ease;
      transition: font-size 0.4s ease;

      &:hover{
        font-size: 17px;

        -webkit-transition: font-size 0.4s ease;
        -moz-transition: font-size 0.4s ease;
        -o-transition: font-size 0.4s ease;
        transition: font-size 0.4s ease;
      }
    }
  }

  #new-york, #new-jersey,
  #long-island, #maryland,
  #virginia, #district-of-columbia,
  #delaware{
    display: none;
  }
}

.firm-row{
  .firms{
    color: black;
    border-bottom: thin solid black;  
  }
  .single-firm-link{
    color: rgb(0, 97, 192);
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;


    .clickable{
      cursor: pointer;

      -webkit-transition: font-size 0.4s ease;
      -moz-transition: font-size 0.4s ease;
      -o-transition: font-size 0.4s ease;
      transition: font-size 0.4s ease;

      &:hover{
        font-size: 17px;

        -webkit-transition: font-size 0.4s ease;
        -moz-transition: font-size 0.4s ease;
        -o-transition: font-size 0.4s ease;
        transition: font-size 0.4s ease;
      }
    }
  }

  #efficiency, #leadership{
    display: none;
  }
}

.affiliate-row{
  .affiliates{
    color: black;
    border-bottom: thin solid black;  
  }
  .single-affiliate-link{
    color: rgb(0, 97, 192);
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;


    .clickable{
      cursor: pointer;

      -webkit-transition: font-size 0.4s ease;
      -moz-transition: font-size 0.4s ease;
      -o-transition: font-size 0.4s ease;
      transition: font-size 0.4s ease;

      &:hover{
        font-size: 17px;

        -webkit-transition: font-size 0.4s ease;
        -moz-transition: font-size 0.4s ease;
        -o-transition: font-size 0.4s ease;
        transition: font-size 0.4s ease;
      }
    }
  }

  #aoss{
    display: none;
  }
}

.practice-area-row{
  .practice-areas{
    color: black;
    border-bottom: thin solid black;  
  }
  .single-practice-area-link{
    color: rgb(0, 97, 192);
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;


    .clickable{
      cursor: pointer;

      -webkit-transition: font-size 0.4s ease;
      -moz-transition: font-size 0.4s ease;
      -o-transition: font-size 0.4s ease;
      transition: font-size 0.4s ease;

      &:hover{
        font-size: 17px;

        -webkit-transition: font-size 0.4s ease;
        -moz-transition: font-size 0.4s ease;
        -o-transition: font-size 0.4s ease;
        transition: font-size 0.4s ease;
      }
    }
  }

  #bankruptcy, #loss-mitigation,
  #evictions, #reo-services,
  #litigation, #title-insurance-services{
    display: none;
  }
}

.new-alert-row{
  .new-alerts{
    color: black;
    border-bottom: thin solid black;  
  }

  .form-top{
    padding-top: 27px;
  }
}

.career-row{
  .careers{
    color: black;
    border-bottom: thin solid black;  
  }

  .form-top{
    padding-top: 27px;
  }

  .disclaimer{
    font-size: 12px;
    padding-top: 39px;
    padding-bottom: 20px;
  }
}

.error-row{
  background-color: rgb(255, 132, 132);
  padding-top: 10px;
  padding-bottom: 10px;
}

.notice-row{
  background-color: #849DFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sitewide-alert-row{
  background-color: rgb(255, 132, 132);
  padding-top: 10px;
  padding-bottom: 10px;
  .sitewide-alert-text{
    p{
      font-size: 14px;
    }
  }
}

.sitewide-notice-row{
  background-color: rgba(144, 254, 144, 0.82);
  padding-top: 10px;
  padding-bottom: 10px;
  .sitewide-notice-text{
    p{
      font-size: 14px;
    }
  }
}

.delete-alerts-form-top{
  padding-top: 38px;
}

.like-table-column{
  display: table-row;
}

.affiliation-image-container{
  width: 25%;
  display: inline-block;
  text-align: center;
  display: table-cell;
  .affiliation-image{
    width: 65%;
  }
}

#no-border-radius{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.black-navbar{
  background-color: #000000;
  border: none;
  .white-right-border{
    border-right: thin solid white;
  }
}

#body-container{
  a{
    &:hover{
      background-color: transparent;
    }
  }

  .panel-default{
    margin-bottom: 5px;
  }

  min-height: 72%;
}

#footer{
  border-top: 5px solid rgb(200, 199, 195);
  .soft-top-space{
    padding-top: 12px;
  }
  .soft-gray-text{
    color: #969696;
  }
  .small-text{
    font-size: 11px;
  }
  .text-padded-top{
    padding-top: 8px;
  }


  .container-fluid{
    .association-image{
      height: 67px;
      width: 126px;
    }

    .philadelphia-address-text{
      #philadelphia-header{
        font-weight: bold;
        font-size: 13pt;
        font-family: "Open Sans Condensed";
      }
      font-family: "Open Sans";
      text-align: right;
      color: white;
      font-size: 8pt;
    }

    .location-text{
      color: white;
      font-family: "Open Sans Condensed";
      font-weight: bold;
      margin-right: 18px;
      font-size: 10pt;
    }

    .location-option{
      color: rgb(201, 199, 195);
      font-family: "Open Sans Condensed";
      font-size: 10pt;
      font-weight: bold;
      margin-right: 7px;
      cursor: pointer;
    }

    .location-image{
      display: none;
    }

    .displaying{
      display: inline;
    }

    .location-option#selected{
      color: white;
    }

    .disclaimer{
      color: rgb(201, 199, 195);
      font-size: 7pt;
      font-family: "Open Sans";
    }

    #american_bar_association{
      margin-right: 40px;
    }

    #american_legal_and_financial_network{
      margin-right: 20px;
    }

    #reo_mac{
      margin-right: 20px;
    }

    #mortgage_bankers_association{
      margin-right: 20px;
    }
  }
}

.mwc-logo-image-file{
  height: 102px;
  &:hover{
    text-decoration: none;
  }
}

.underline-text{
  text-align: center;
  color: white;
  font-size: 17px;
  margin-top: 8px;
  margin-bottom: 20px;
}

#navbar-link-margin{
  margin-top: 84px;
}

.single-header-link{
  color: white;
  &:visited{
    color: white;
  }
  font-family: 'Raleway', sans-serif;
  @media (max-width: 900px){
    font-size: 10px;
  }
  @media (min-width: 900px){
    font-size: 12px;
  }
  @media (min-width: 1139px){
    font-size: 14px;
  }
}

.mini-navbar{
  min-height: inherit;
}

// sidebar-related

.general-wrapper{
  padding-left: 250px;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.first-sidebar-child{
  margin-top: 35px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999999;
    background-color: rgba(230, 230, 230, 0.2) !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#wrapper {
    padding-left: 250px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    padding: 20px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

// double-lines

.fancy {
  line-height: 0.15;
  text-align: center;
  margin-bottom: 35px;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

// equal row/col heights

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

.learn-more-button{
  padding: 12px 29px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-color: #bbbbbb;
  .learn-more-link{
    color: black;
    text-decoration: none;
  }
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.sales-list-button{
  color: white !important;
  margin-right: 20px;
  &:hover{
    background-color: #3071A9 !important;
  }
}