.row.item-list-row
  .col-md-4.left-side-list-column#left-side style="padding-right: 0px; padding-left: 30px;"
    .text-left
      h2.page-title-text AFFILIATES
      .single-left-list-link
        span
          .clickable data-content-section-id="reo"
            span.glyphicon.glyphicon-play.list-indicator-caret
            span.list-item-link REO America Abstract, LLC
            .affiliate-left-web-address 
              a href="http://www.reoamericaabstract.com" target="_blank" http://www.reoamericaabstract.com

  .col-md-8#right-side.padless
    .callout-quote.gray-bottom-border
      .callout-text.text-center A depth of knowledge and expertise unmatched in the mortgage banking industry
    #reo.content-section style="display: block"
      h3.single-item-title REO America Abstract, LLC
      .content-description
        .text-center
          .affiliate-address
            hr style="width: 50%"
            | 123 S Broad St. Suite 1225<br>
            | Philadelphia, PA 19109
          .affiliate-web-link
            p #{link_to "http://www.reoamericaabstract.com", "http://www.reoamericaabstract.com", target: "_blank"}
            hr style="width: 50%"
        p <span class="paragraph-start">REO America Abstract, LLC</span> is our affiliated title agency, and clients receive an integrated approach to the entire foreclosure process.  REO America offers title and closing services to clients of MWC.  Having title work returned efficiently is critical to meeting and exceeding timeline requirements.  As an agent for several national underwriters, REO America offers title searches, full commitments, title clearance and a range of insurance products. Contact REO America at #{link_to "inquiry@reoamericaabstract.com", "mailto:inquiry@reoamericaabstract.com", target: "_blank"} for further information.
      br

javascript:
  $(document).ready(function(){
    element_identifier = "#affiliates-link";
    $(element_identifier).addClass("selected-header-link");
    original_text = $(element_identifier).text();
    $(element_identifier).text( original_text + " >>" );
    var current_displaying_height = $(".content-section").first().height() + 20
    var upcoming_displaying_height = 999999;
    var first_time = true

    setTimeout(function(){
      update_border_for_taller_side( $(".content-section").first() );
    }, 50 );

    $(".clickable").click(function(){
      var desired_section = "#" + $(this).data().contentSectionId;
      $(".content-section").hide();
      $(desired_section).show();
      update_border_for_taller_side( $(desired_section) );

      $(".clickable").removeClass("most-recently-clicked");
      $(this).addClass("most-recently-clicked");
    });

    function update_border_for_taller_side( el ){

      if( first_time ){
        first_time = false
      }
      else{
        upcoming_displaying_height = $(el).height() + 20;
      }

      if( upcoming_displaying_height > current_displaying_height ){
        body_container_height = $("#body-container").height();
        current_item_height = $(el).height() + 20;

        new_height = Math.max(body_container_height, current_item_height);
        $("#right-side").height(new_height)
        current_displaying_height = new_height;
      }

      $("#right-side").addClass("gray-border-left-side");

    }
  });